<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mel's Thermostat</title>
    <link rel="stylesheet" href="../public/style.css">
    <script src="../src/Thermostat.js"></script>
  </head>
  <body>
      <div class="row">
      <div id="display" class="col">
    <div id="temperature"><p>Temperature</p></div>
    <div id="power_saving_mode"><p>Power Saving Mode On/Off</p></div>
    <div id="usage"><p>Usage</p></div>
      </div>
    <div id="controls" class="col">
        <div class="row">
        <div id="up" class="col"><button>Up</button></div>
        <div id="down" class="col"><button>Down</button></div>
        </div>
        <div id="toggle_psm"><p>Toggle PSM</p></div>
        <div id="reset"><p>Reset</p></div>
    </div>
    </div>
</body>
  </html>



